<!DOCTYPE html>
<html>

<head>
  <title>Web Terminal</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <head>

  <body>
    <h1>Web Terminal</h1>
    <div style="width:800px; height:800px">
    <div id="terminal" style="position:relative; width:100%; height:100%"></div>
    </div>
  </body>

</html>
